name: testing

on:
  push:

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  code-lint:
    strategy:
      matrix:
        module:
          - { name: main, dir: './' }
          - { name: github, dir: './pkg/github' }
          - { name: gitlab, dir: './pkg/gitlab' }
          - { name: repository, dir: './pkg/repository' }
          - { name: repository-slog, dir: './pkg/repository-slog' }

    name: code-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          path: ${{ matrix.module.dir }}

      - name: Set up Go
        uses: actions/setup-go@v4 # action page: <https://github.com/actions/setup-go>
        with:
          go-version: stable

      - name: print env
        run: ls . ; echo ws - ${GITHUB_WORKSPACE} ; echo pwd - ${PWD} ; ls ..

      - name: Install Go dependencies
        run: go mod download

      - name: Run linter
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.60.3
          only-new-issues: false # show only new issues if it's a pull request
          args: -v --timeout=10m --out-format=colored-line-number

  unit-test:
    strategy:
      matrix:
        module:
          - { name: main, dir: './' }
          - { name: github, dir: './pkg/github' }
          - { name: gitlab, dir: './pkg/gitlab' }
          - { name: repository, dir: './pkg/repository' }
          - { name: repository-slog, dir: './pkg/repository-slog' }

    name: unit-test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          path: ${{ matrix.module.dir }}

      - name: Set up Go
        uses: actions/setup-go@v4 # action page: <https://github.com/actions/setup-go>
        with:
          go-version: stable

      - name: Install Go dependencies
        run: go mod download

      - name: Run tests
        run: go test ./...
